.user-detail {
  border-bottom: 1px solid #46143c;
  padding: 20px 10px;
  cursor: pointer;
  user-select: none;
  background-color: #fff;
}

.user-detail h2 {
  margin: 0;
  margin-bottom: 5px;
  font-size: 1.2rem;
}

.user-detail p {
  padding: 0;
  margin: 0;
  font-size: 12px;
  color: gray;
}

.user-detail.selected {
  background: #46143c;
  color: #fff;
}

.user-detail.selected p {
  color: rgba(255, 255, 255, 0.8);
}
